<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <p class="header text-center">Boxing Buddy</p>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary center-block" 
                ng-click="$ctrl.enterRing()">
                <img ng-src="./img/boxing_glove_left.svg" alt="boxing glove" 
                    height="32" width="32" />
                <span>Enter Ring</span>
            </button>  
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary center-block" 
                ng-click="$ctrl.goToSettings()">
                <img ng-src="./img/settings.svg" alt="settings" 
                    height="32" width="32" />
                <span>Settings</span>
            </button>  
        </div>
    </div>
</div>